<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="2121"/><!--监听的端口-->
		<add key="folder" value="C:\test1"/><!--传输的目录路径-->
		<add key="password" value="P@ssw0rd"/><!--加密密钥-->
		<add key="daysBefore" value="300"/><!--同步N天前的创建的文件-->
		<add key="timeout" value="15"/><!--验证超时时间(秒)-->
		<add key="maxFailCount" value="3"/><!--最大失败次数-->
		<add key="failInterval" value="30"/><!--失败重试间隔（分钟）-->
		<add key="certificate" value="server.pfx"/>
		<add key="client" value="client.filesync.com"/>
	</appSettings>
</configuration>