<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="2121"/>
		<add key="folder" value="D:\hy"/>
		<add key="interval" value="15"/>
		<add key="encrypt" value="false"/>
		<add key="encryptKey" value="142"/>
		<add key="daysBefore" value="300"/><!--只同步三天前的创建的-->
	</appSettings>
</configuration>