<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="2121"/><!--监听的端口-->
		<add key="folder" value="E:\工具软件"/><!--传输的目录路径-->
		<add key="password" value="240530"/><!--加密密钥-->
		<add key="daysBefore" value="300"/><!--同步N天前的创建的文件-->
	</appSettings>
</configuration>