<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ip" value="127.0.0.1"/><!--服务器IP地址-->
		<add key="port" value="2121"/><!--服务器端口-->
		<add key="localFolder" value="z:\"/><!--本地存储目录路径-->
		<add key="remoteFolder" value="\"/><!--本地存储目录路径-->
		<add key="interval" value="1"/><!--同步的时间间隔(分钟)-->
		<add key="password" value="123456"/><!--连接密钥-->
	</appSettings>
</configuration>