<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ip" value="127.0.0.1"/><!--服务器IP地址-->
		<add key="port" value="2121"/><!--服务器端口-->
		<add key="folder" value="g:\"/><!--本地存储目录路径-->
		<add key="interval" value="1"/><!--同步的时间间隔(分钟)-->
		<add key="encrypt" value="true"/><!--是否使用加密-->
		<add key="encryptKey" value="142"/><!--加密密钥(0~255)-->
		<add key="password" value="81784187"/><!--连接密钥-->
	</appSettings>
</configuration>